.quadro
{
    position: relative;
    border: 2px solid rgb(13, 15, 62);
    width: 599px;
    height: 299px;
    left: 360px;
    top: 40px;
}
h1
{
    font-family: 'Roboto';
    text-align: center;
    color: white;
}

.linha
{
    position: absolute;
    width: 600px;
    height: 69px;
    background-color:rgb(19, 19, 82);
    bottom: 230px;
}
.nova_senha
{
    box-sizing: border-box;
    position: relative;
    width: 100px;
    height: 30px;
    left: 250px;
    top: 10px;
    font-size: 18px;
    font-weight:400;
}
.nova_caixa
{
    box-sizing: border-box;
    position: relative;
    width: 300px;
    height: 30px;
    left: 53px;
    top: 53px;
    font-size: 18px;
    font-weight: 400;
}
.conf_senha
{
    box-sizing: border-box;
    position: relative;
    width: 100px;
    height: 30px;
    right:160px;
    top: 98px;
    font-size: 18px;
    font-weight: 400;
}

.conf_caixa
{
    box-sizing: border-box;
    position: relative;
    width: 300px;
    height: 30px;
    left: 140px;
    top: 110px;
    font-size: 18px;
    font-weight: 400;
}



button
{
    position: absolute;
    width: 150px;
    height: 30px;
    left: 215px;
    top: 260px;
    font-size: 18px;
    font-weight: 400;
    background-color: #001b48;
    color: white;
    cursor: pointer;
}



